.containerSearch {
  border-radius: 12px; /* cần có px */
  padding: 24px;
  background: rgba(255, 255, 255, 0.85); /* nền trắng mờ */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  /* max-width: 1200px; */
  margin: 40px auto;
}
.info {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.roomCard {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.roomCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Cover phần icon phòng */
.roomCover {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  position: relative;
}

/* Icon phòng */
.roomIcon {
  font-size: 50px;
  color: #555;
}

/* Overlay thông tin khi hover */
.roomOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.roomCover:hover .roomOverlay {
  opacity: 1;
}
