.containerSearch {
  border-radius: 12px; /* cần có px */
  padding: 24px;
  background: rgba(255, 255, 255, 0.85); /* nền trắng mờ */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  width: 1200px;
  margin: 40px auto;
}
.searchLocationContainer {
  display: flex;
  max-width: 1200px;
  margin: 40px auto;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}
